<!DOCTYPE html>
 {% load staticfiles %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'HOME/css/forms.css' %}">
    <script src="https://use.fontawesome.com/1e290237b5.js"></script>

    <title>에투왈 여성</title>
</head>
<body>
<h1>{{ title }}<</h1>

<p>Your password was changed.</p>
</body>
